@model MvcLibraryManagement.Models.Entity.TblWriter
@{
    ViewBag.Title = "WriterBring";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("WriterUpdate", "Writer", FormMethod.Post))
{
    <div style="margin-top:15px;"></div>
    <div class="form-group">
        @Html.LabelFor(w => w.ID)
        @Html.TextBoxFor(w => w.ID, new { @class = "form-control", @ReadOnly = "true" })
        <br />
        @Html.LabelFor(w => w.Name)
        @Html.TextBoxFor(w => w.Name, new { @class = "form-control" })
        <br />
        @Html.LabelFor(w => w.Surname)
        @Html.TextBoxFor(w => w.Surname, new { @class = "form-control" })
        <br />
        @Html.LabelFor(w => w.Detail)
        @Html.TextAreaFor(w => w.Detail, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-success">Update</button>
    </div>
}


